.header-wrap {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
.header {
  background-color: var(--bg-color);
  position: sticky;
  top: 0;
  z-index: 100;
  transition: all 0.3s ease-in-out;
}
/* .sticky {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
} */
.header-top {
  padding: 16px 0;
}
.header-bottom {
  border-top: 1px solid var(--white-color);
  padding: 20px 0;
}
.header-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.header-right,
.header-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 24px;
}
.header-contact {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  color: #fff;
}
.header-follow {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  align-items: center;
}

@media (max-width: 767px) {
  .header-top-content,
  .header-right-top {
    flex-direction: column;
    justify-content: center;
    gap: 12px;
  }
  .header-right,
  .header-list {
    gap: 16px;
  }
  .header-logo img {
    width: 150px;
  }
}
