.features {
  padding: 24px 0 40px;
}
.features ul {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  row-gap: 20px;
  flex-wrap: wrap;
  padding: 16px;
}
.features ul li {
  padding: 18px 16px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.features ul li p {
  color: var(--primary-color);
}
.features ul li p:first-child {
  text-transform: uppercase;
  color: var(--secondary-color);
  padding-bottom: 5px;
}

@media (max-width: 991px) {
  .features {
    padding: 20px 0 34px;
  }
  .features ul {
    padding: 0;
    gap: 0;
    row-gap: 30px;
  }
  .features ul li {
    width: 50%;
    padding: 0;
  }
}

@media (max-width: 767px) {
  .features {
    padding: 16px 0 26px;
  }
  .features ul li {
    width: 100%;
  }
}
