.footer-wrap {
  background-color: var(--secondary-color);
}
.footer-top {
  padding: 72px 0;
}
.content {
  display: flex;
  justify-content: space-between;
}
.footer-bottom {
  padding: 24px 0;
  border-top: 1px solid #adb7bc;
}
.footer-bottom p {
  color: #adb7bc;
  text-align: center;
}
.footer-text {
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  color: var(--white-color);
  text-transform: uppercase;
  padding-bottom: 18px;
}
.left {
  display: flex;
  gap: 24px;
}
.left ul {
  padding-top: 24px;
}
.left ul li a {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: var(--white-color);
  max-width: 248px;
  margin-top: 10px;
  font-family: var(--primary-font-family);
}
.left ul li a:hover {
  color: var(--yellow-color);
}
.right ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.right ul li a {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 16px 20px;
  background-color: #303639;
}
.right ul li a:hover {
  background-color: var(--grey-color);
}
.content p {
  font-weight: 600;
}
.get-it {
  font-size: 11px;
  line-height: 13px;
  padding-bottom: 4px;
  font-weight: 400;
  color: var(--white-color) !important;
}
.get-it:hover {
  color: var(--white-color);
}
