.product {
  padding: 50px 0;
}
.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -15px;
  row-gap: 30px;
  padding-top: 46px;
}

.item {
  width: 33.33%;
  box-sizing: border-box;
  border: 1px solid #e4e7e9;
  position: relative;
}
.discount {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 8px 14px;
  background-color: var(--yellow-color);
  color: var(--secondary-color);
  font-size: 12px;
  line-height: 1.2;
  font-weight: 600;
}
.content {
  padding: 15px 30px;
}
.item p {
  color: var(--secondary-color);
  padding: 10px 0;
}
.image {
  text-align: center;
}
.price {
  font-size: 14px;
  line-height: 1.2;
  color: var(--blue-color);
  font-weight: 500;
  padding-bottom: 10px;
}

a:hover .discount {
  color: var(--secondary-color);
}

.cta {
  text-align: center;
  margin-top: 40px;
}

@media (max-width: 1400px) {
  .list {
    margin: 0;
  }
}

@media (max-width: 1024px) {
  .item {
    width: 50%;
  }
  .list {
    padding-top: 40px;
  }
  .product {
    padding: 42px 0;
  }
  .content {
    padding: 15px 24px;
  }
}

@media (max-width: 767px) {
  .item {
    width: 100%;
  }
  .list {
    padding-top: 32px;
    margin: 0;
  }
  .product {
    padding: 32px 0;
  }
  .content {
    padding: 12px 20px;
  }
}
